@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;900&family=M+PLUS+1p&family=Rock+Salt&display=swap');

html, body{
  height: 100%;
  width: 100%;
  background-color: #282c34;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/*---------------- Header -----------------*/

.spotify_logo{
  width: 20%;
  height: 90px;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  padding-top: 20px;
  padding-bottom: 10px;
  cursor: pointer;
  opacity: 1;
}

.title{
  width: 32%;
  font-size: 1.1cm;
  text-align: center;
  color: #61cf88;
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: 'Rock Salt', cursive;
}

.artist_search_bar{
  width: 45%;
  height: 80px;
  padding-top: 40px;
  padding-bottom: 10px;
  display: flex;
}

.artist_search_bar_rectangle{
  width: 100%;
  height: 70px;
  padding-top: 10px;
  border-radius: 50px;
  background-color: #ffffff;
  border: 0 transparent;
  font-size: 0.8cm;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  color: #282c34;
  text-align: center;
}

.artist_search_bar_icon{
  width: 30px;
  height: 30px;
  padding-top: 25px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: 0 transparent;
  cursor: pointer;
  margin-left: -45px;
}

.divide_line{
  width: 100%;
  height: 1px;
  background-color: #b3b3b3;
  opacity: 0.5;
  margin-top: 40px;
  margin-bottom: 40px;
}

/*---------------- Body -----------------*/

.artist_carousel_arrow_left{
  width: 50px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 0 transparent;
  cursor: pointer;
  opacity: 0.75;
  position: relative;
  margin: auto;
  z-index: 2;
}

.artist_carousel_side_image{
  width: 160px;
  height: 160px;
  border-radius: 5px;
  background-color: transparent;
  border: 0 transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
  z-index: 1;
  opacity: 0.5;
  margin: auto;
}

.artist_carousel_arrow_right{
  width: 50px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 0 transparent;
  cursor: pointer;
  opacity: 0.75;
  margin: auto;
  z-index: 2;
}

.artist_carousel_arrow_left:hover, .artist_carousel_arrow_right:hover{
  opacity: 1;
}

.artist_photo_name_container{
  width: 320px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
  cursor: pointer;
  transition: width 1s, height 1s, margin 1s;
  margin-left: calc(100% / 2 - 160px);
}

.artist_photo_name_container:hover{
  opacity: 0.6;
  width: 340px;
  height: 340px;
}

.artist_photo{
  width: 100%;
  height: 100%;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  opacity: 0.5;
}

.artist_name{
  font-size: 1.2cm;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  color: #ffffff;
  position: absolute;
  margin-top: 20px;
}

.artist_name.side{
  font-size: 0.75cm;
}

.artist_click_animation{
  margin: 0%;
  width: 270px;
  height: 270px;
}

.artist_click_animation:hover{
  margin: 0%;
  width: 280px;
  height: 280px;
}

.col_left{
  width: 100%;
  display: flex;
  align-items: center;
  transition: width 0.001s;
}

.col_left.collapse{
  width: 30%;
  transition: width 1s;
}

.col_right{
  width: 0%;
  display: none;
  transition: width 0.001s;
}

.col_right.expand{
  width: 70%;
  display: block;
  transition: width 1s;
}

.artist_info_title_tag{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.artist_info_title_tag.unclicked{
  background: linear-gradient(#1f2229,#11141b);
}

.artist_info_title_tag.clicked{
  background: linear-gradient(#32363f,#252936);
}

.artist_info_title{
  font-size: 0.8cm;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  display: flex;
  transition: opacity 2s;
  transition-delay: 2s;
  padding-bottom: 10px;
}


.artist_top_tracks_frame{
  width: 100%;
  height: 30px;
  background-color: #282c34;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(#32363f,#252936);
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 400;
}

.artist_top_tracks{
  font-size: 0.55cm;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  color: #ffffff; 
}


.artist_album_container{
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
  cursor: pointer;
  transition: width 1s, height 1s, margin 1s;
  position: relative;
}

.artist_album_container:hover{
  opacity: 0.6;
  width: 125px;
  height: 125px;
}

.artist_album_photo{
  width: 100%;
  height: 100%;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  opacity: 0.5;
}

.artist_album_name{
  font-size: 0.3cm;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  color: #ffffff;
  position: absolute;
  margin-top: 20px;
}